<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="LkwC7AcnVJxKcqEHwxR6pU-IbKlYcR-yVM3i1_ez3Yc" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/css/main.css?{{site.time | date: '%s%N'}}">
{% include head.html %}
</head>
<body>
  <div class="container">
    <div class="row">
      <h1 class="name"><a href="./">{{ site.tag_text }}</a></h1>
      <div>
        <img class="avatar" src="/avatar.jpg" />
      </div>
    </div>
    <div class="row links">
      <a href="mailto:alistar.neron@gmail.com"><span class="no-print">📧 </span>alistar.neron@gmail.com</a>
      <a href="https://github.com/neronmoon"><span class="no-print">🤖 </span>github.com/neronmoon</a>
      <a href="https://t.me/neronmoon"><span class="no-print">💬 </span>t.me/neronmoon</a>
    </div>
    {{ content }}
  </div>
{% include scripts.html %}
</body>
</html>
